*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin", sans-serif;
}

.stopwatch {
  margin: 20rem auto;
  width: 30rem;
  height: 30rem;
  background-color: rgb(26, 28, 27);
  border-radius: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 1px -1px 15px -4px rgba(0, 0, 0, 0.83);
  box-shadow: 1px -1px 15px -4px rgba(0, 0, 0, 0.83);
}
.timer-screen {
  width: 20rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 2rem;
  color: rgb(26, 28, 27);
  text-align: center;
  font-size: 6rem;
}
.stopwatch button {
  margin: 3rem 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-start {
  background-color: #009432;
  clip-path: polygon(100% 50%, 0 2%, 0 100%);
}
.btn-stop {
  background-color: #ea2027;
}
.btn-reset {
  background-color: #d7501f;
  border-radius: 10rem;
}

.stopwatch button:hover {
  transition: all 0.5s;
}
.btn-start:hover {
  background-color: #08bd45;
}
.btn-stop:hover {
  background-color: #ed2d33;
}
.btn-reset:hover {
  background-color: #f6602a;
}
